h1 {
  color: red;
}

app-biread {
  position: absolute;
  background-color: lightsteelblue;
  //height: 100%;
  //width: 100%;
  flex-direction: column;
  display: flex;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-biread nav a {
  margin-right: 10px;
  font-size: 1.3em;
  //color: greenyellow;
}

app-biread nav a.active {
  color: greenyellow !important;
}

.home {
  height: 100%;
  justify-content: space-between;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  color: darkblue;
  font-size: 1.4rem;
}

.btn-xs {
  height: 28px;
  padding: 2px 5px !important;
  font-size: 12px !important;
  line-height: 1.1 !important;
  border-radius: 3px !important;
}

.btn-xs.read-today {
  margin: 0 5px;
}

.btn-xs.square {
  width: 28px;
}

.quote-string {
  font-size: 14px;
}

.date-container {
  margin-bottom: 50px;
}

.slogan {
  margin: 0 20px;
  font-size: 12px;
}

.app-card {
  margin: 20px 20px;
  //width: 18rem;
}

.howto.container {
  max-width: 500px;
  min-width: 150px;
  margin: 20px 0;
}

.cite {
  font-style: italic;
}

.cite-ref {
  font-style: normal;
  font-weight: 700;
}

.howto, .info {
  height: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.info {
  margin-top: 0;
}